:global {
  ul.boardGroup {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 0 1.5em 1em;
    clear: both;
    height: 86px;

    & > li {
      position: absolute;
    }

    @for $x from 1 through 26 {
      & > li:nth-child(#{$x}) { left: ($x - 1)*17px; }
    }

    &.group-highlight {
      box-shadow: 0px 0px 15px 2px rgba(29,29,135,0.75);
      cursor: pointer;
    }
  }

  ul.handCards {
    list-style-type: none;
  }

  .table-card-wrapper {
    width: 62px;
    height: 86px;

    & > .playing-card {
      width: 62px;
      height: 86px;
    }
  }

  .pile-card-wrapper {
    width: 62px;
    height: 86px;
    position: relative;
    margin-right: 10px;

    & > .playing-card {
      width: 62px;
      height: 86px;
    }

    &.pile-highlight {
      box-shadow: 0px 0px 15px 2px rgba(29,29,135,0.75);
      cursor: pointer;
    }

    & > span {
      color: white;
      background-color: rgba(0,0,0,0.5);
      padding: 2px;
      position: absolute;
      bottom: 0; left: 0;
    }
  }

  .entity.hand-card-wrapper {
    width: 100px;
    height: 140px;
    top: 15px;
    position: absolute;

    & > .playing-card {
      width: 100px;
      height: 140px;
    }
  }

  .entity.hand-card-wrapper:hover,
  .entity.hand-card-wrapper:focus,
  .entity.hand-card-wrapper.focus,
  .entity.hand-card-wrapper.selected {
    top: 0px;
    height: 155px;
  }

  .entity.hand-card-wrapper.selected {
    border-radius: 9px;
    background-color: #229;

    & > .playing-card {
      opacity: 0.85;
    }
  }


  $deck-list: (
    "classic": ("blue", "red")
  );

  $suit-list: (
    "c": "clubs",
    "d": "diamonds",
    "h": "hearts",
    "s": "spades"
  );

  $value-list: (
    "A": "1",
    "2": "2",
    "3": "3",
    "4": "4",
    "5": "5",
    "6": "6",
    "7": "7",
    "8": "8",
    "9": "9",
    "D": "10",
    "J": "11",
    "Q": "12",
    "K": "13"
  );

  @each $deck, $back-list in $deck-list {
    @each $suit, $suitname in $suit-list {
      @each $value, $valuename in $value-list {
        .entity > .deck-#{$deck}.playing-card-#{$value}#{$suit} {
          background: url("~assets/images/cards/#{$deck}/#{$suitname}/#{$valuename}.png");
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      .entity > .deck-#{$deck}.playing-card-X {
        background: url("~assets/images/cards/#{$deck}/joker.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    @each $back in $back-list {
      .entity > .deck-#{$deck}.playing-card-back-#{$back} {
        background: url("~assets/images/cards/#{$deck}/back_#{$back}.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
}
