
@import 'normalize.css/normalize.css';
@import 'variables';

/**
 * BASE STYLES
 */
html {
  color: #222;
  font-weight: 100;
  font-size: 1em; // ~16px
  font-family: $font-family-base;
  line-height: 1.375; // ~22px
}

a {
  color: #0074c2;
}

:global {
  #application {
    width: 800px;
    margin: 0 auto;
  }

  @import 'lobby';

  /**
   * PLAY
   */
  .play {
    display: flex;
    height: 450px;

    main {
      display: flex;
      flex: 1;
    }

    aside {
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: wrap;
      width: 250px;
      height: 100%;
    }

    .userList {
      background-color: yellow;
      flex: 1;
      padding: 10px;
      box-sizing: border-box;

      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  @import 'chat';

  .gameView {
    background-image: url("http://api.thumbr.it/whitenoise-256x256.png?background=1d9925ff&noise=376937&density=42&opacity=24");
    background-repeat: repeat;
    flex: 1;

    position: relative;
    overflow: hidden;
  }

  .gameAreaView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
    border: 3px solid black;
    border-radius: 5px;

    // Unfortunately the height needs to be specified manually for the layout
    // to work as expected.
    height: 340px;
  }

  .handView {
    height: 90px;
    width: 550px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
  }

}
