
@import 'normalize.css/normalize.css';
@import 'variables';

/**
 * BASE STYLES
 */
html {
  color: #222;
  font-weight: 100;
  font-size: 1em; // ~16px
  font-family: $font-family-base;
  line-height: 1.375; // ~22px
}

a {
  color: #0074c2;
}

:global {
  #application {
    width: 800px;
    margin: 0 auto;
  }

  @import 'lobby';

  /**
   * PLAY
   */
  .play {
    display: flex;
    height: 450px;

    main {
      display: flex;
      flex: 1;
    }

    aside {
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: wrap;
      width: 250px;
      height: 100%;
    }

    .userList {
      background-color: yellow;
      flex: 1;
      padding: 10px;
      box-sizing: border-box;

      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  @import 'chat';

}
