<!DOCTYPE html>
<html>
  <head>
    <title>Remik Game</title>

    <meta name="fb-app-id" content="<%= config.fb.appId %>">
  </head>
  <body>
    <div class="application-wrapper">
      <div id="application"></div>
    </div>

    <!-- Javascript files -->
    <script src="/scripts/application.js" charset="utf-8"></script>
  </body>
</html>
